@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 600px;
    max-height: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: solid 1px black;
    .row1, .row2, .row3, .row4, .row5 {
        display: flex;
    }
    .square1, .square2, .square3, .square4 {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
    }
}